name: Build and Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # خطوة الـ Login باستخدام الـ Secrets اللي ضفتيها
      - name: 'Login to Azure Container Registry'
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # بناء الصورة وحقن لينك الباك إند
      - name: 'Build and Push Docker Image'
        run: |
          docker build \
            --build-arg REACT_APP_API_URL=${{ secrets.REACT_APP_API_URL }} \
            -t ${{ secrets.ACR_LOGIN_SERVER }}/smart-frontend:latest .
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/smart-frontend:latest

      # الرفع النهائي للويب آب
      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
          images: '${{ secrets.ACR_LOGIN_SERVER }}/smart-frontend:latest'
